* {
    margin: 0;
    padding: 0;
}
header,main,footer,nav,aside,section,div{
    display: block;
}
/*  INDEX */
.mix nav,.layout2 nav,.layout3 header {
    width: 1440px;
    height: 123px;
    background-color: #F2E9E9;
    align-items: center;
}
.mix .ball {
    position: absolute;
    background-color: #F72828;
    width: 14px;
    height: 14px;
    margin-top: 34px;
    margin-left: 595px;
    border-radius: 50px;
}
.titles{
    margin-left: 575px;
}

.Mix,.Stairs,.Dynamic{
    display: inline-block;
    margin-left: 18px;
    margin-top: 52px;
    text-decoration: none;
}
.Mix h2,.Stairs h2,.Dynamic h2 {
    font-family: 'Amiko', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    transition: color 0.5s ease;
    transition: font-size 0.5s ease;
    text-transform: uppercase;
}
.mix .Stairs h2:hover,.mix .Dynamic h2:hover {
    color: #6e6b6b;
    font-size: 18px;
    text-align: center;
}
.mix .L {
    position: relative;
    margin-left: 688px;
}
.mix .rectangle1 {
    position: absolute;
    background-color: #EBEF18;
    width: 75px;
    height: 23px;
    margin-top: 258px;
}
.mix .rectangle2 {
    position: absolute;
    background-color: #EBEF18;
    width: 136px;
    height: 46px;
    margin-top: 289px;
}
.mix .rectangle3 {
    position: absolute;
    background-color: #EBEF18;
    width: 136px;
    height: 46px;
    margin-top: 289px;
}
.mix .rectangle4 {
    position: absolute;
    background-color: #EBEF18;
    width: 134px;
    height: 404px;
    margin-top: 346px;
}
.mix .rectangle5 {
    position: absolute;
    background-color: #EBEF18;
    width: 88px;
    height: 28px;
    margin-top: 761px;
}
.mix .rectangle6 {
    position: absolute;
    background-color: #EBEF18;
    width: 25px;
    height: 26px;
    margin-top: 796px;
}
.mix .rectangle7 {
    position: absolute;
    background-color: #EBEF18;
    width: 25px;
    height: 26px;
    margin-top: 796px;
    margin-left: 32px;
}
.mix .M {
    position: relative;
    margin-left: 837px;
}
.mix .rectangle8 {
    position: absolute;
    background-color: #EBEF18;
    width: 246px;
    height: 352px;
    margin-top: 258px;
}
.mix .rectangle9 {
    position: absolute;
    background-color: #EBEF18;
    width: 123px;
    height: 212px;
    margin-top: 626px;
}
.mix .rectangle10 {
    position: absolute;
    background-color: #EBEF18;
    width: 55px;
    height: 105px;
    margin-top: 626px;
    margin-left: 137px;
}
.mix .rectangle11 {
    position: absolute;
    background-color: #EBEF18;
    width: 110px;
    height: 58px;
    margin-top: 738px;
    margin-left: 137px;
}
.mix .rectangle12 {
    position: absolute;
    background-color: #EBEF18;
    width: 55px;
    height: 105px;
    margin-top: 626px;
    margin-left: 233px;
}
.mix .R{
    position: relative;
    margin-left: 1097px;
}
.mix .rectangle13 {
    position: absolute;
    background-color: #EBEF18;
    width: 28px;
    height: 55px;
    margin-top: 214px;
}
.mix .rectangle14 {
    position: absolute;
    background-color: #EBEF18;
    width: 28px;
    height: 55px;
    margin-top: 280px;
}
.mix .rectangle15 {
    position: absolute;
    background-color: #EBEF18;
    width: 28px;
    height: 55px;
    margin-top: 346px;
}
.mix .rectangle16 {
    position: absolute;
    background-color: #EBEF18;
    width: 28px;
    height: 198px;
    margin-top: 412px;
}
.mix .Mixtext {
    position: absolute;
    margin-left: 244px;
    margin-top: 390px;
}
.mix .Mixtext h1 {
    font-family: 'Amiko', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 96px;
    color: #000000;
}
.mix .Mixtext h2 {
    font-family: 'Amiko', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}
.mix footer {
    position: relative;
    background-color: #000000;
    width: 1440px;
    height: 41px;
    margin-top: 983px;
    
}

/* LAYOUTS2  */

.layout2 main {
    align-content: flex-start;
}
.layout2 .ball {
    position: absolute;
    background-color: #F72828;
    width: 14px;
    height: 14px;
    margin-top: 34px;
    margin-left: 686px;
    border-radius: 50px;
}
.layout2 .Mix h2:hover,
.layout2 .Dynamic h2:hover {
    color: #6e6b6b;
    font-size: 18px;
    text-align: center;
}

.LS{
    position: absolute;
    margin-left: 151px;
    margin-top: 119px;
}
.RS {
    position: absolute;
    margin-left: 663px;
    padding-top: 287px;
}
.Rectangle {
    background-color: #C4C4C4;
    width: 457px;
    height: 299px;
    margin-bottom: 70px;
}
.layout2 aside {
    background-color: #EBEF18;
    width: 169px;
    height: 2185px;
    margin-left: 1271px;
}
.blackRectangle {
    position: absolute;
    background-color: #000000;
    width: 80px;
    height: 80px;
    margin-top: 119px;
}
.blackRectangle1 {
    position: absolute;
    background-color: #000000;
    width: 80px;
    height: 80px;
    margin-top: 616px;
}
.whiteRectangle {
    position: absolute;
    background-color: #ffffff;
    width: 80px;
    height: 80px;
    margin-top: 247px;
    margin-left: 89px;
}
.layout2 footer {
    position: fixed;
    background-color: #000000;
    width: 1440px;
    height: 41px;
    bottom: 0;
    text-align: center;
}
.letts {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1240px;
    margin-left: 44px;
}
.lett {
    color: #000000;
    font-family: 'Amiko', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 128px;
    align-items: flex-end;
    text-align: center;
    text-decoration: none;
    width: 81px;
}

/* LAYOUTS3 */
.box {
    background-color: #000000;
    margin-bottom: 230px;
    margin-left: 130px;
    position: relative;

}

.layout3 .lett{
        display: none;
        color: white;
        text-align: center;
        position: absolute;
        transform: translate(-50%, -50%);
}

.layout3 main {
    width: 964px;
    align-content: flex-start;
    display: flex;
    align-items: center;
}

.mainDetails {
    width: 964px;
    position: absolute;
    left: 306px;
    top: 246px;
    display: flex;
    flex-wrap: wrap;
}



.layout3 .blackRectangle {
    position: absolute;
    margin-top: 21px;
    margin-left: 1336px;
    transition: background-color 0.2s ease;
}
.layout3 .blackRectangle:hover {
    background-color: #6e6b6b;
}
#wrapper {
    width: 1440px;
    margin: 0px auto;
}
.layout3 nav {
    position: relative;
    background-color: #E5E5E5;
    width: 372px;
    height: 995px;
}

.layout3 .ball {
    position: absolute;
    background-color: #F72828;
    width: 14px;
    height: 14px;
    margin-top: 105px;
    margin-left: 301px;
    border-radius: 50px;
}
.layout3 .Mix {
    position: absolute;
    margin-left: 38px;
    margin-top: 123px;
    text-decoration: none;
}
.layout3 .Stairs {
    position: absolute;
    margin-left: 105px;
    margin-top: 123px;
    text-decoration: none;
}
.layout3 .Dynamic {
    position: absolute;
    margin-left: 210px;
    margin-top: 123px;
    text-decoration: none;
}
.layout3 .Mix h2:hover, .layout3 .Stairs h2:hover {
    color: #6e6b6b;
    font-size: 18px;
    text-align: center;
}
.layout3 .blue {
    position: absolute;
    background-color: rgba(24, 71, 239, 0.3);
    top: 123px;
    width: 104px;
    height: 995px;
    left: 1336px;
}
.yBox {
    position: absolute;
    display: flex;
    background-color: #EBEF18;
    width: 1440px;
    height: 463px;
}
.bBox {
    position: absolute;
    background-color: #000000;
    width: 1440px;
    height: 41px;
    margin-top: 463px;
}
.box:hover{
    background-color: #858484;
    transition: background-color 0.4s ease;
}
@media only screen and (max-width: 416px) {
    .layout3 header {
        width: 100%;
        height: 123px;
        background-color: #F2E9E9;
      
    }
    .layout3 nav {
        position: relative;
        background-color: #E5E5E5;
        width: 100%;
        height: 105px;
    }
    .layout3 .blackRectangle {
        position: absolute;
        margin-top: 21px;
        margin-left: calc(100% - 102px - 2vw);
    }
    .layout3 .ball {
        position: absolute;
        background-color: #F72828;
        width: 14px;
        height: 14px;
        margin-top: 105px;
        margin-left: 301px;
        border-radius: 50px;
    }
    .layout3 .Mix,.layout3 .Stairs,.layout3 .Dynamic {
        margin-top: 45px;
    }
    .layout3 .ball {
        position: absolute;
        background-color: #F72828;
        width: 14px;
        height: 14px;
        margin-top: 27px;
        margin-left: 295px;
        border-radius: 50px;
    }
    .layout3 .yBox,
    .layout3 .bBox {
        width: 100%;
    }
    .layout3 .Mix h2:hover,.layout3 .Dynamic h2:hover,.layout3 .Stairs h2:hover {
        display: none;
        color: #000000;
        font-size: 24px;
    }
    .blue {
        display: none;
    }
    #wrapper {
        
        margin: 1346px auto;
    }
    .box {
        background-color: #000000;
        margin-bottom: 25px;
        margin-left: 10px;
    }
.layout3 main {

    width: 100%;
    align-content: flex-start;
    display: flex;
    align-items: center;
}
.mainDetails {
        width: 100%;
        position: absolute;
        left: 10px;
        top: 246px;
        display: flex;
        flex-wrap: wrap;
}
    
}
